#gallery{
  display: inline-block;
  border: 2px solid red;
  
}

#gallery a img{
  border: 2px solid rgb(15, 14, 14);
  height: 200px;
  width: 200px;

}

#gallery a img #description{
  text-align: center;
  align-items: center;

}