span{
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  
}
div{
  text-align: center;
}

#Time{
  font-size: 3em;
  font-weight: 100;
  font-family: Courier New;
}

#date,#year{
  font-size: 16px;

  font-weight: normal;
  font-family: Courier New;
}
